<div id="app" v-cloak>
    <%_ _fn(html_tpl,(el)=>{ _%>
    <%- el %><% }) %>
</div>
<script>
    $(() => {
        new Vue({
            el: '#app',
            data() {
                return {
                    <%_ _fn(vue_GridData,(el)=>{ _%>
                    <%- el %><% }) %>
                    <%_ _fn(vue_data_form,(el)=>{ _%>
                    <%- el %><% }) %>
                    <%_ _fn(vue_data_i18n,(el)=>{ _%>
                    <%- el %><% }) %>
                    Code: null,
                    readonly: false,
                    confirm_arg: {
                            distinguishCancelAndClose: true,
                            showClose:false,
                            //closeOnClickModal: false,
                            //closeOnPressEscape:false,
                            //dangerouslyUseHTMLString:true,
                            confirmButtonText: `@RES.BLL.Face.FunctionBarConfirmButton`,
                            cancelButtonText: `@RES.BLL.Face.FunctionBarCancelButton`,
                            type: 'info'
                        },
                }
            },
            methods: {
                <%_ _fn(vue_GridMethos,(el)=>{ _%>
                <%- el %><% }) %>
                e_clear() {
                    for (key in this.form) {
                        this.form[key] = "";
                    }
                },
                _test() {
                    this.MessageDelSuccess();
                },
                MessageDelSuccess() {
                    return this.$Alert.Info('@RES.BLL.Message.DeleteSuccessfulmsg');
                },

                // 子視窗查詢程序
                Action_Item(arg) {
                    var SID =  _.isString(arg)
                        ? `&SID=${arg}`
                        :""
                        ;
                    var arg = {
                        title: this.i18n.編碼原則維護,
                        content: `@Url.Action("SequenceNum_Item")?SingleMode=true${SID}`
                    }
                    this.$UT.layer(arg, this);
                },
                //父視窗reload 功能
                reload() {
                    console.log("父視窗reload!!");
                    this.query(this.grid.Page.Index);
                },
                parse_ENABLE_FLAG(row, column){
                    return this.$UT.parse_Enable(row.ENABLE_FLAG);
                },
                e_del(SID) {
                    var _self = this;
                    var _ops = this.$Alert.genConfirm({ title: _self.i18n.ConfirmDel});
                    Swal.fire(_ops).then(result => {
                        let { value = false } = result;
                        if (value) {
                            var url = '@Url.Action("Delete")';
                            var _ajax = {
                                url,
                                param: { SID},
                                type: 'post',
                                success :_self.Ajax_success
                            };
                            $.submitForm(_ajax);
                        }
                    });
                },
                Ajax_success(res) {
                    let { Success=true, Data, Message = ""} = res;
                    if (Success) {
                        var _self = this;
                        this.MessageDelSuccess().then(() => {
                            _self.reload();
                        });
                    } else {
                        this.$Alert.Warning(Message);
                    }
                },
            }
        })
    });
</script>