<%
    Src.ut.fn_inc = include;
_%>
@{
    ViewBag.Title = @Genesis.Common.PageBaseInfo.getCurrentResource("baseTpl").RESOURCE_NAME;
    bool isSingleModel = (bool)ViewData["SingleModel"];
    if (isSingleModel) Layout = "~/Views/Shared/_LayoutSingle.cshtml";
}
<h3>
    @ViewBag.Title
</h3>
@Html.AntiForgeryToken()
@eBundle.QRender_CSS()
@eBundle.QRender_JS()
<div id="app" v-cloak>
    <%_ Src.ut.echo_file('~Html_ToolBar.txt',(el)=>{ _%>
    <%- el %><% }) %>
    <div Area-Main class="panel b">
        <%_ Src.ut.echo_file('~Html_Form.txt',(el)=>{ _%>
        <%- el %><% }) %>
        <%_ Src.ut.echo_file('~Html_Code.txt',(el)=>{ _%>
        <%- el %><% }) %>
    </div>
</div>
<script>
    $(() => {
        new Vue({
            el: '#app',
            data() {
                return {
                    <%_ Src.ut.echo_file('~Vue_Data.txt',(el)=>{ _%>
                    <%- el %><% }) %>
                }
            },
            computed:{
                <%_ Src.ut.echo_file('~Vue_Computed.txt',(el)=>{ _%>
                <%- el %><% }) %>
            },
            methods: {
                <%_ Src.ut.echo_file('~Vue_Methods.txt',(el)=>{ _%>
                <%- el %><% }) %>
                _test() {
                },
            }
        })
    });
</script>